.env
.env.*
!.env.example
.toolchains/
.build-cache/
release/
app/build/
app/.dart_tool/
app/android/local.properties
app/android/key.properties
.config/
.dart-tool/
.dartServer/
.flutter
.gradle/
.local/
*.apk
*.pem
*.p12
*.pfx
*.jks
*.keystore
